
.title,
.amount, .date {

  text-align: center;
  border: 4px solid rgb(228, 228, 228);
  border-radius: 16px;
  padding: 5px;
  margin: 0.8rem;
}

.amount {
  background-color: rgb(205, 129, 16);
  width: 10rem;
}

.title {
  background-color: rgb(16, 107, 205);
  width: 15rem;
}

.expenseItm {
  background-color: orange;
  margin: 2rem 12rem;
  padding: 0.8rem;
}

@media only screen and (max-width: 950px) {
  .expenseItm {  
      margin: 1rem 5rem;
      padding: 0.6rem;
  }
}
@media only screen and (max-width: 550px) {
  .expenseItm {
      margin: 1rem 3rem;
      padding: 0.4rem;
  }
}

@media only screen and (max-width: 420px) {
  .expenseItm {
      margin: 1rem 1rem;
      padding: 0.3rem;
  }
  .title,.amount{
    width: 100%;
  }
}