.containerform {
    background-color: orange;
    margin: 1rem 12rem;
    padding: 0.8rem;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

form label {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-right: 1rem;

}

form input {
    background-color: rgb(255, 254, 251);
    padding: 4px;
    font-size: 1rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    width: 12rem;
}

form {
    background-color: rgb(83, 164, 80);
    color: white;
    padding: 1.5rem;
    border-radius: 1rem;
}

.submitbtn {
    background-color: rgb(85, 50, 114);
    padding: 0.5rem;
    font-size: 1.3rem;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    width: 15rem;
}

form:nth-child(1) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.amountField {
    margin-right: 2rem;
}

.submitbtn:hover {
    background-color: coral;
}

@media only screen and (max-width: 950px) {
    .containerform {
        margin: 1rem 5rem;
        padding: 0.6rem;

    }
}

@media only screen and (max-width: 610px) {
    form label {
        display: block;
        font-size: 1.2rem;
        padding-bottom: 0.5rem;
    }

    .amountField {
        margin-right: 0rem;
    }
}

@media only screen and (max-width: 550px) {
    .containerform {
        margin: 1rem 3rem;
        padding: 0.4rem;
    }
}

@media only screen and (max-width: 420px) {
    .containerform {
        margin: 1rem 1rem;
        padding: 0.3rem;
    }
    .submitbtn{
        width: 12rem;
    }
}